POSTGRES_DB=postgres
POSTGRES_USER=postgres 
POSTGRES_PASSWORD=password # Replace with your own password
SECRET_KEY=DjangoSecretKey # Can be obtained through Django
CONGRESS_API_KEY=CongressAPIKey # Obtained for free at https://api.congress.gov/sign-up/ 
POSTGRES_HOST=db # Should not need changed
